body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;

    background-image: url('../imagens/logoSerra.png');
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
}

.text-box {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
}

/* Alteração para o item 1 */
.background-image-box {
    background-image: url('../imagens/background.png');
    background-color: transparent;
    color: #ffffff; 
    text-shadow: 1px 1px 3px #000000; 
}

a:link {
    color: #007BFF;
    text-decoration: none; 
}


a:visited {
    color: #6a0dad; 
    text-decoration: none;
}

a:hover {
    color: #dc3545; 
    text-decoration: underline; 
}